<div class="mt-4 p-2 bg-primary text-white rounded">
    <h1>Server Side Filter</h1>
    <p>Server Side Filter + Pagination + Sorting.</p>
</div>
<div class="container mt-2">
    <div class="row mb-2">
        <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <label for="category">Category</label>
                        <input type="text" [(ngModel)]="categoryName" class="form-control"/>
                    </div>
                    <div class="col-md-3">
                        <label for="productName">Product Name</label>
                        <input type="text" [(ngModel)]="productName" class="form-control"/>
                    </div>
                    <div class="col-md-3">
                        <label for="productId">Product Id</label>
                        <input type="text" [(ngModel)]="productId" class="form-control"/>
                    </div>
                    <div class="col-md-2 align-self-end">
                        <button type="button" (click)="onSearch()" class="btn btn-primary">Search</button>
                    </div>
                    <div class="col-2">
                        <select [(ngModel)]="pageSize" onchange="onSearch()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th (click)="onSort('productId')">Product Id</th>
                        <th (click)="onSort('productName')">Product Name</th>
                        <th (click)="onSort('shortName')">Short Name</th>
                        <th (click)="onSort('category')">Category</th>
                        <th (click)="onSort('price')">Price</th>
                    </tr>
                </thead>
                <tbody>
                   @for (product of productList; track $index;) {
                    <tr>
                        <td>{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.shortName}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.price}}</td>
                    </tr>
                   }
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li class="page-item" [class.disabled]="pageNumber == 1">
                        <a class="page-link" (click)="onPageChanged(pageNumber-1)">Previous</a>
                    </li>
                   
                    @for (page of getPageNumber(); track $index) {
                          <li class="page-item" [class.active]="page == pageNumber">
                             <a class="page-link" (click)="onPageChanged(page)">page</a>
                         </li>
                    }
                   
                    <li class="page-item" [class.disabled]="pageNumber == getValue()">
                        <a class="page-link" (click)="onPageChanged(pageNumber+1)">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>